$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.mat-button-toggle-label-content {
    line-height: 36px !important;
}
mat-icon {
    font-size: 20px !important;
}
