<div style="display: block;">
    <!-- <div *ngIf="!loading; else loading"> -->

        <table>
            <tr >
                <th *ngFor="let header of headers">
                    {{header}}
                </th>
                <th>

                </th>
            </tr>
            <tr class="my-2" *ngFor="let setting of Tab.Settings; index as index">
                <td *ngFor="let header of headers; index as nCol">
                    <span *ngIf="nCol==1"> : </span>
                    <app-editable-input #field (update)="updateSetting(setting, header, field.Text)" type="text" [Text]="setting[header]" [PlaceHolder]="header"></app-editable-input>
                </td>
                <td>
                    <mat-icon inline=true (click)="removeSetting(index)">close</mat-icon>
                </td>
            </tr>
        </table>
        <button mat-raised-button color="primary" (click)="newSetting()">
            <mat-icon inline=true>add</mat-icon>
        </button>
        <div *ngIf="!Tab.Settings || Tab.Settings.length==0">
            <p>To create a new setting click on the + button</p>
        </div>
</div>
<hr>
<button mat-raised-button color="primary" (click)="saveConfig()">
    <mat-icon inline=true>save</mat-icon>
    Save
</button>