<div *ngIf="fieldMode==mode.Edit; then editMode else viewMode"></div>
<ng-template #viewMode >{{Text}}</ng-template>
<ng-template #editMode>
    <input #input [(ngModel)]="Text" [placeholder]="PlaceHolder" focusable>
</ng-template>