<h1 mat-dialog-title>New configuration</h1>
<mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
</mat-form-field>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="name" color="primary">Create</button>
</div>