<div class="alert alert-primary">
  <h1>Deployment Configuration</h1>
</div>
<div class="px-3">
  <mat-button-toggle-group #group="matButtonToggleGroup" >
    <mat-button-toggle *ngFor="let tab of tabs; index as index" (click)="setCurrentTab(tab.Target)" >
      {{tab.Target}}
      <mat-icon inline=true (click)="removeTab(index)">close</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button class="newTab" mat-raised-button color="primary" (click)="newConfig()">
    <mat-icon inline=true>add</mat-icon>
  </button>
  <div *ngIf="tabs.length; else noItems">
    <app-config-tab [Tab]="currentTab"></app-config-tab>
  </div>
  <ng-template #noItems>To create a new tab click on the + button</ng-template>
</div>